/* Arquivo: ../css/style.css */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke; /* Apenas como fallback */
    color: #DAA520;
    background-image: url("video/fundo3.mp4");
    background-position: 50% 70%;
}

input {
    display: block;
    height: 55px;
    width: 80%; /* Aumentar largura do campo de entrada */
    margin: 10px auto;
    border-radius: 10px; /* Arredondar cantos dos campos */
    border: 1px solid transparent;
    font-size: 16pt;
    padding: 10px 20px;
}

#form-body, #form-body-cad {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
    text-align: center; /* Centralizar o conteúdo dentro do formulário */
    max-width: 90%;
    width: 500px; /* Definir largura máxima do formulário */
    color: #DAA520;
}

#form-body h1, #form-body-cad h1 {
    text-align: center;
    margin-bottom: 20px;
}

/* Ajuste para o formulário #form-body-cad */
#form-body-cad {
    background-color: transparent; /* Fundo transparente */
    border: none; /* Remover contorno do formulário */
    box-shadow: none; /* Remover sombra */
}

#form-body input[type="email"],
#form-body input[type="password"],
#form-body-cad input[type="email"],
#form-body-cad input[type="password"],
#form-body-cad input[type="text"] {
    width: calc(100% - 40px); /* Ajustar largura dos campos de entrada */
    padding: 10px;
    margin: 10px auto; /* Centralizar com margem automática */
    border: 1px solid #ccc;
    border-radius: 30px; /* Arredondar cantos dos campos */
}

#form-body input[type="submit"],
#form-body-cad input[type="submit"] {
    width: calc(100% - 40px); /* Ajustar largura do botão */
    padding: 10px;
    background-color: #6B8E23; /* Cor verde oliva */
    color: goldenrod;/* Ajustar cor da fonte do botão */
    border: none;
    border-radius: 30px; /* Arredondar cantos do botão */
    cursor: pointer;
    font-size: 16px;
    /* Restaurar efeito 3D */
    box-shadow: 0 4px #2E7D32; 
    transition: transform 0.3s ease;
}

#form-body input[type="submit"]:hover,
#form-body-cad input[type="submit"]:hover {
    background-color: #556B2F; /* Cor verde oliva escuro para o hover */
    transform: translateY(-2px); /* Efeito 3D no hover */
    box-shadow: 0 6px #2E7D32;
}

#form-body a,
#form-body-cad a {
    display: block;
    margin-top: 20px;
    color: #6B8E23; /* Cor verde oliva */
    text-decoration: none;
}

#form-body a strong,
#form-body-cad a strong {
    color: #6B8E23; /* Cor verde oliva */
}

a {
    color: #DAA520;
    text-decoration: none;
    text-align: center;
    display: block;
}

a:hover {
    text-decoration: underline;
}

.error-message {
    width: calc(100% - 40px);
    max-width: 390px;
    padding: 10px;
    text-align: center;
    background-color: rgba(255, 69, 58, 0.8);
    border: 1px solid rgba(255, 69, 58, 1);
    margin-top: 20px;
    border-radius: 5px;
}

.success-message {
    width: calc(100% - 40px);
    max-width: 390px;
    padding: 10px;
    background-color: rgba(42, 165, 118, 0.8);
    border: 1px solid rgba(42, 165, 118, 1);
    margin-top: 10px;
    border-radius: 5px;
}

@media (max-width: 768px) {
    #form-body, #form-body-cad {
        width: 90%;
        padding: 15px;
    }
    
    #form-body input[type="email"],
    #form-body input[type="password"],
    #form-body input[type="submit"],
    #form-body-cad input[type="email"],
    #form-body-cad input[type="password"],
    #form-body-cad input[type="text"],
    #form-body-cad input[type="submit"] {
        width: 100%;
    }
}

@media (max-width: 480px) {
    #form-body, #form-body-cad {
        width: 95%;
    }
}

